.DataBox{
    display: inline-block;
    background-color: #f0f0f0;
    width: 40%;
    border: 1px solid #D0D0D0;
    padding: 15px;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.DataBoxList{
    display: inline-block;
    background-color: #f0f0f0;
    width: 90%;
    border: 1px solid #D0D0D0;
    padding: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

.DataTitle {
    font-size: 25px;
    display: inline;
    font-weight: bold;
}

.DataTitleList {
    font-size: 30px;
    display: inline;
    font-weight: bold;
}

.DataVersion {
    margin-right: 20px;
    font-size: 15px;
  font-style: italic;
    float: right;
}

.DataVersionList {
    font-size : 20px;
    font-style: italic;
    font-size: 20px;
    float: right;
}

.DataWeb {
    font-size: 14px;
    margin: 10px;
}

.DataWebList
{
    font-size: 16px;
    margin: 10px;
    margin-top: 15px;

}

.DataFilters {
    margin-top: 30px ;
}

.Nav {    
    padding: 20px;
}

.Cover{
    background-color: #20303F;
    color : #d2fafb;
    width: 100%;
    height: 350px;
    position: absolute;
}


.Response {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-top: 10px;
    position: relative;
    top: 90px;
    z-index: 1;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;

}

.nav-title {
    color : #d2fafb;
    text-align: center;
}

.banner-title{
    color : #d2fafb;
    text-align: center;
    margin-top: 40px;

}

.Filter{
    padding: 5px;
    width: 70%;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 15%;
    margin-right: 15%;
}


.SearchBack {
    display: inline;
}


.Page-box {

    display: inline-block;
}

.Page-Block{

    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(34,36,38,.15);
}

.Page-Block-sel{

    display: block;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 2px solid  #446788;
}



.Pagination-block{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader
{
  margin-left: 49%;
  margin-right: 45%;
  padding-top: 60px;
}

.main-logo
{
    width: 7%;
    margin-left : 2%;
    margin-right : 5%;

}

.hash{
    font-weight : bold;
    font-style : italic;
    font-size :15px;
}

.link-container {
    width : 80%;
    margin-left: 10%;
    margin-right : 10%;
    margin-top : 30px;

}

.likes{
    text-align : right;
    font-size : 10px;
    font-weight : bold;
    font-style : italic;
    margin-right: 25px;
    display : block;

}

.Title-Asc{
     display: block;
    font-weight: bold;
    text-align: center;
}

.Title-Desc{
    display: block;
    font-weight: bold;
    text-align: center;
}
.Title-List{
    display: block;
    font-weight: bold;
    text-align: center;
}

.Filter-item {
    width: 45px;
    float: right;
    padding: 5px;
    margin: 5px;
}

.FilterBlock
{
    position: relative;
    top: 110px;
    z-index: 2;
}

.Search-button
{   display: inline;
    border-radius: 50%;
    border: 0px;
    width: 40px;
    height: 40px;
    margin: 0px;
    color: white;
    background-color: #446788;
    margin-left: -30px;
}

.Search-input
{
    display: inline-block;
    padding: 5px;
    border : 1px solid #446788;
    width: 300px;
    height: 36px;
    border-radius: 10px;

}

.Search-div {
    display: inline;
    padding: 10px;
    float: right;
}


.Show-more-div{
    margin-top: 20px;
    border-radius: 0px 0px 20px 20px;
    padding-top: 10px;
    padding-bottom: 5px;    
}

.Show-more-div:hover{
    background-color : lightgrey;
}

.Show-more
{
    text-align: center;
    margin-bottom: 0px;
}

.RightArrow {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline;
    background-color: lightslategray;
}

.LeftArrow {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
    background-color: lightslategray;
}